.dailydesign_container .dailydesign img {
	width: 100%;
	border: 1px solid #e5e5e5;
	padding: 5px;
	border-radius: 3px;
}
.dailydesign_container .dailydesign_by {
	margin-top: 10px;
}
.dailydesign_container .dailydesign_by a {
	font-weight: bold;
}
